*
  margin: 0
  padding: 0
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif

body
  
  #root
    width: 100%
    height: 100vh
    
    //导航栏
    .navigation-shadow
      display: flex
      justify-content: space-between
      align-items: center
      position: fixed
      top: 0
      left: 0
      right: 0
      color: #ffffff
      width: 100%
      z-index: 999
      background-image: linear-gradient(180deg, #3e4343 0%, rgba(179, 174, 186, 0.47) 100%)
      transition: all .3s ease-out 0s

      .slogan
        padding: 0.75rem
        margin-left: 4rem
        font-size: 200%
      .slogan:hover
        color: #2196f3
      .navigation-list
        display: flex
        margin-right: 4rem
        font-size: 120%
        div
          margin-right: 0.75rem
    .navigation
      display: flex
      justify-content: space-between
      align-items: center
      position: fixed
      top: 0
      left: 0
      right: 0
      color: #ffffff
      width: 100%
      z-index: 999
      transition: all .3s ease-out 0s
      
      .slogan
        padding: 0.75rem
        margin-left: 4rem
        font-size: 200%
      .slogan:hover
        color: #2196f3
      .navigation-list
        display: flex
        margin-right: 4rem
        font-size: 120%
        div
          margin-right: 0.75rem
    .logo
        display: flex
        align-items: center
        padding: 0.75rem
        margin-left: 4rem
        .logo-image
          height: 64px
          width: 64px
          margin-right: 1rem
        div
          font-size: 150%

    //首页
    header
      background-image: url('../img/background1.jpg')
      background-size: 100% 100%
      background-repeat: no-repeat
      display: block
      height: 100vh
      
      .full-name
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        font-size: 300%
        z-index: 999

    //部门介绍页面
    department
      display: block
      height: 100vh
      width: 100%
      background-color: #f8fafe
      .navigation-font
        width: 100%
        display: flex
        justify-content: center
        padding: 0.75rem
        font-size: 200%

      .depart-container
        margin: 2rem
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        align-items: center

        .group
          display: block
          width: 360px
          height: 272px
          margin: 1.2rem
          transition: all .3s ease-out 0s
          background: #fff

          .group-detail-title
            display: flex
            justify-content: center
            div
              font-size: 150%
              padding: 0.75rem
          .group-detail-content
            display: flex
            justify-content: center
            div
              font-size: 120%
              padding: 0.75rem
        .group:hover
          transform: translate(-10px, -10px)
          box-shadow: 10px 10px 0px rgba(84, 48, 132, 0.06)

        .group:focus
          transform: translate(-10px, -10px)
          box-shadow: 10px 10px 0px rgba(84, 48, 132, 0.06)

        .group:active
          transform: translate(-10px, -10px)
          box-shadow: 10px 10px 0px rgba(84, 48, 132, 0.06)

    //活动页面
    activity
      display: block
      height: 100vh
      width: 100%

    //科协人页面
    history
      display: block
      height: 100vh
      width: 100%