* {
  margin: 0;
  padding: 0;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

body #root {
  width: 100%;
  height: 100vh;
}

body #root .navigation-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  width: 100%;
  z-index: 999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e4343), to(rgba(179, 174, 186, 0.47)));
  background-image: linear-gradient(180deg, #3e4343 0%, rgba(179, 174, 186, 0.47) 100%);
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

body #root .navigation-shadow .slogan {
  padding: 0.75rem;
  margin-left: 4rem;
  font-size: 200%;
}

body #root .navigation-shadow .slogan:hover {
  color: #2196f3;
}

body #root .navigation-shadow .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4rem;
  font-size: 120%;
}

body #root .navigation-shadow .navigation-list div {
  margin-right: 0.75rem;
}

body #root .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  width: 100%;
  z-index: 999;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

body #root .navigation .slogan {
  padding: 0.75rem;
  margin-left: 4rem;
  font-size: 200%;
}

body #root .navigation .slogan:hover {
  color: #2196f3;
}

body #root .navigation .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4rem;
  font-size: 120%;
}

body #root .navigation .navigation-list div {
  margin-right: 0.75rem;
}

body #root .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem;
  margin-left: 4rem;
}

body #root .logo .logo-image {
  height: 64px;
  width: 64px;
  margin-right: 1rem;
}

body #root .logo div {
  font-size: 150%;
}

body #root header {
  background-image: url("../img/background1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  height: 100vh;
}

body #root header .header-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root header .header-container div {
  text-align: center;
  font-size: 200%;
  margin-bottom: 1rem;
  color: #ffffff;
}

body #root header .header-container slogan {
  display: block;
  color: #ffffff;
}

body #root .navigation-font {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem;
  font-size: 200%;
}

body #root department {
  display: block;
  height: 100vh;
  width: 100%;
  background-color: #f8fafe;
}

body #root department .depart-container {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root department .depart-container .group {
  display: block;
  width: 360px;
  height: 272px;
  margin: 1.2rem;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  background: #fff;
}

body #root department .depart-container .group .group-detail-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root department .depart-container .group .group-detail-title div {
  font-size: 150%;
  padding: 0.75rem;
}

body #root department .depart-container .group .group-detail-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root department .depart-container .group .group-detail-content div {
  font-size: 120%;
  padding: 0.75rem;
}

body #root department .depart-container .group:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0px rgba(84, 48, 132, 0.06);
          box-shadow: 10px 10px 0px rgba(84, 48, 132, 0.06);
}

body #root department .depart-container .group:focus {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0px rgba(84, 48, 132, 0.06);
          box-shadow: 10px 10px 0px rgba(84, 48, 132, 0.06);
}

body #root department .depart-container .group:active {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0px rgba(84, 48, 132, 0.06);
          box-shadow: 10px 10px 0px rgba(84, 48, 132, 0.06);
}

body #root activity {
  display: block;
  height: 100vh;
  width: 100%;
}

body #root history {
  display: block;
  height: 100vh;
  width: 100%;
}

body #root contactUs {
  display: block;
  height: 50vh;
  width: 100%;
}

body #root contactUs .contact-container {
  width: 100%;
  height: 100%;
}

body #root contactUs .contact-container .contact-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8fafe;
}

body #root contactUs .contact-container div {
  font-size: 120%;
  display: block;
  margin-right: 2rem;
}

body #root contactUs .contact-container .qrcode div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #root contactUs .contact-container img {
  width: 120px;
  height: 120px;
  display: inline-block;
  padding-bottom: 2rem;
}

body #root contactUs .contact-container .img-disappear {
  visibility: hidden;
}

body #root contactUs .contact-container .copyright {
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100%;
}
/*# sourceMappingURL=index.css.map */